<mat-card class="head-card">
	<button class="d-iblock btnAlignLeft" mat-button  routerLink="">Back</button>
	<h2 class="d-iblock" style="margin: 0">This page injects countries service</h2>
</mat-card>
<section *ngIf="isPull">
	<p>There are <label> {{countryCount}} </label>Countries in total</p>
	<mat-card  style="margin: 20px;" *ngFor="let response of responseStore">
		<h3>Country Name : {{response.countryName}}</h3>
		<h4>Capital :  {{response.capital}}</h4>
		<h4>Continent : {{response.continentName}}</h4>
		<h4>Area(Sq.km) : {{response.areaInSqKm}}</h4>
		<h4>Population : {{response.population}}</h4>
	</mat-card>
</section>
<mat-card *ngIf="!isPull" class="main text-center centerCard">
	<h3>Hit the button to pull the data </h3>
	<button mat-raised-button color="primary" (click)="pullFromService()">Pull</button>
</mat-card>
<div *ngIf="dataLoaded" class="text-center">
<h3>The data is travelling at speed a speed of Light! It may reach anytime soon!</h3>
<mat-spinner style="margin: 0 auto; width: 200px;"></mat-spinner>
</div>